<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user1.expensemanager">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".income"
            android:label="Income"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".expense"
            android:label="Expense"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".new_budget" />
        <activity
            android:name=".budget"
            android:label="@string/title_activity_budget"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>